
/* define roots to make it easier editing in future */

:root {
  --primary-color: #333;
  --hover-color: #555;
  --border-color: #ccc;
  --background-color: #fff;
  --icon-color: #ccc;
}

/* Registration Form Styles */
#registration-form {
  max-width: 500px;
  margin: 0 auto;
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registration-form label {
  display: block;
  margin: 10px 0 5px;
}

#registration-form input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

#registration-form input:focus,
#registration-form select:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#registration-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

#registration-form button:hover {
  background: var(--hover-color);
}

/* -----Additional Styles for Icons----- */
.input-icon {
  position: relative;
  margin-bottom: 10px;
}

.input-icon i {
  position: absolute;
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  color: var(--icon-color);
}

.input-icon input,
.input-icon select {
  padding: 10px 30px; /* Add padding to the left to make space for the icon */
  /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding doesn't affect total width */
}


/* Responsive Design to be compatible with different screen sizes */
@media (max-width: 480px) {
  #registration-form {
    padding: 15px;
  }

  #registration-form button {
    font-size: 14px;
  }
}
