/* General Styles */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333333;
}
/*-------Header Styling---------*/
header {
  background-color: #28a745; /* Green background */
  color: white;
  padding: 10px 0; /* Reduced padding */
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}
/* ----------End of Header Styling----------------- */
/*-------Footer Styling--------*/

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

h1 {
  /* Set the default property of H1 */
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h1,
h2 {
  color: #444;
}

main {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
