#packages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.package {
  background: #fff;
  border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid;
  border-color: #cdcdcd;
  box-shadow: 0 0 10px rgba(251, 115, 115, 0.1);
  padding: 15px;
  text-align: center;
}

.pkgImg {
  border-radius: 8px;
  border: solid;
  border-color: #cdcdcd;
  height: 220px;
  width: 70%;
}

.vacayText {
  font-size: 12px;
  
}

.ordBut{
  border-radius: 5px;
  background-color: #f4f4f4;
}