#highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.destination {
  background: #fff;
  border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid;
  border-color: #cdcdcd;
  box-shadow: 0 0 10px rgba(251, 115, 115, 0.1);
  padding: 15px;
  text-align: center;
}


/* ---Carousel Styling*/
/* Adjusting the image height */
.carousel-item img {
    height: 500px; /* Set the desired height */
    object-fit: cover; 
}

/* Move the carousel caption to the top of the image */
.carousel-caption {
    position: absolute;
    bottom: 25px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(23, 2, 2, 0.3); /* Semi-transparent background */
    padding: 2px 5px; 
    border-radius: 3px; 
    font-size: 1rem; 
    color: #eaf2cf; 
    line-height: 1.2; 
    max-width: fit-content; /* Caption box width adjusts to fit its content */
    text-align: center; 
}
.destination img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
